:root {
	--primary-color: #134daaa7;
	--secondary-color: #134daaa7;
	--background-color: #102241f0;
	--text-color: #fdfffa;
	--input-border-color: lightgrey;
	--input-placeholder-color: #999;
	--button-hover-color: #2062cea7;
}

.body_register {
  height: 100vh;
  background: var(--background-color);
  padding: 15px;
}

.navbar {
  background: rgba(255, 255, 255, 0.024);
}

.wrapper .title {
	height: 90px;   
}

.wrapper {
	max-width: 500px;
  margin-top: 450px;
  margin-left: 30%;
}

.wrapper form {
	padding: 25px 35px;
}

.wrapper form .input-box{
  height: 50px;
  margin: 10px 0 10px 0;
  position: relative;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: var(--input-focus-border-color);
}
form .policy{
  display: flex;
  align-items: center;
}

form .input-box input::placeholder {
  color: var(--input-placeholder-color);
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input{
  margin-top: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  border: none;
  background: #134daaa7;
  cursor: default;
}
.input-box.button input:hover{
  color: #fffa6f;
  background: var(--button-hover-color);
}

form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #3d6def;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
